@charset "UTF-8";

@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/RobotoCondensed-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/RobotoCondensed-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/RobotoCondensed-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../fonts/RobotoCondensed-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: StudioFeixenSans;
  src: url("../fonts/StudioFeixenSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: StudioFeixenSans;
  src: url("../fonts/StudioFeixenSans-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: MinionPro;
  src: url("../fonts/MinionPro-It.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: OperatorMono;
  src: url("../fonts/Operator Mono Medium Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OperatorMono;
  src: url("../fonts/Operator Mono Medium Italic.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}

